<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-01-27T06:57:03Z</date>
	<key>WorkspacePath</key>
	<string>/Users/baruchnurilov/Workspace/MultiPlatform/Remote_Logger/iosApp/Remote Logger Test/Remote Logger Test.xcodeproj</string>
</dict>
</plist>
